body {
	background-image: url("http://www.wallfizz.com/art-design/musique-et-art/4949-musique-instruments-WallFizz.jpg");
	background-attachment: fixed;
}

h1 {
    color: rgb(107, 129, 143);
    text-align: center;
    padding: 10px;
}

h2 {
	text-align: center;
}

p, form {
	text-align: center;
	color: red;
}

a:visited {
	text-decoration: none;
}

div {
	margin-right:400px;
	margin-left:400px;
	margin-bottom:40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #D6D5D5;
	border: 2px #332D2D solid;
}

#block_selection{
	margin-right:40px;
	margin-left:40px;
	margin-bottom:40px;
	padding: 20px;
	/* background-color: red; */
	/* display: flex; */
	/* flex-direction: row; */
	justify-content: space-around;
}

#block_reponses{
	margin-right:40px;
	margin-left:40px;
	margin-bottom:40px;
	width:300px;
	border-radius: 10px;
	box-shadow: 10px 5px 5px grey;
	background-color: #D6D5D5;
	text-align: left;
	font-size: medium;
}

#return_button{
	margin-right:40px;
	margin-left:40px;
	margin-bottom:40px;
	width:190px;
	border-radius: 5px;
	border: 2px #332D2D solid;
	box-shadow: 10px 5px 5px grey;
	text-align: left;
	font-size: medium;
}

.footer{
	display: flex;
	flex-direction: raw;
	justify-content: space-around;
	flex-wrap: wrap;
	color: rgb(107, 129, 143);
	background-color: white;
}